[Desktop Entry]
Name=0wGram
Comment=Unofficial desktop version of Telegram messaging app
TryExec=0wgram
Exec=0wgram -- %u
Icon=0wgram
Terminal=false
StartupWMClass=0wgram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;0wgram;telegram;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=0wgram -quit
Name=Quit Telegram
Icon=application-exit
